extends ./layout.jade

block context
  .ui.one.column.container.celled.grid
    .column
      h1.ui.medium.header
        .content 成果
      table.ui.celled.table
        thead
          tr
            th 年份
            th 名称
            th 层次
        tbody
          tr
            td 2222
            td 222
            td 国家
    .ui.divider.column
    .column
      h1.ui.medium.header
        .content 论文
      table.ui.celled.table
        thead
          tr
            th 发表年份
            th 题目
            th 期刊/会议名称
            th 刊号/会议时间
        tbody
          tr
            td 2222
            td Lorem
            td ipsum.
            td dolor.
    .ui.divider.column
    .column
      h1.ui.medium.header
        .content 教材
      table.ui.celled.table
        thead
          tr
            th 出版年份
            th 名称
            th 获奖信息
        tbody
          tr
            td 2222
            td Lorem
            td dolor.
    .ui.divider.column
    .column
      h1.ui.medium.header
        .content 教改
      table.ui.celled.table
        thead
          tr
            th 获批年份
            th 名称
            th 层次
        tbody
          tr
            td 2222
            td Lorem
            td dolor.
