extends ./layout.jade

block context
  .ui.one.column.container.celled.grid
    .column
      h1.ui.medium.header
        .content 成果
      p
       .ui.vertical.divided.list.link
         a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
         a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
         a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
    .column
      h1.ui.medium.header
        .content 论文
      p
       .ui.vertical.divided.list.link
         a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
         a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
         a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
    .column
      h1.ui.medium.header
        .content 专利
      p
       .ui.vertical.divided.list.link
         a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
         a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
         a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
    .column
      h1.ui.medium.header
        .content 著作权
      p
       .ui.vertical.divided.list.link
         a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
         a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
         a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
