footer#footer.ui.two.column.container.grid.bottom.aligned(style="flex-grow: 1; margin: 0;")
  .column
    .ui.vertical.link.list
      a(href="http://ss.bit.edu.cn").item
        |软件学院
      a(href="http://grd.bit.edu.cn").item
        |研究生院
  .column.right.aligned
    .ui.horizontal.divided.link.list
      .disabled.item
        |复杂网络与安全研究实验室
      a(href="http://10.4.16.188/cnsr").item
        |旧版实验室
