.ui.grid.container(style="display: flex; padding-top: 2rem")
  .column
    h1.ui
      .content
        i.icon.lab
  .column(style="flex-grow: 1;")
    h1.ui.center.aligned.huge.header
      .content 复杂网络与安全研究实验室
      .sub.header Complex Network and Security Research Laboratory
