.ui.grid.container(style="display: flex; padding-top: 2rem; align-items: center; justify-content: space-around")
  .column(style='width: 6rem')
    img.ui.image(src='/static/img/lab_LOGO.jpg')
  .column(style="flex-grow: 1;")
    h1.ui.huge.header
      .content 复杂网络与安全研究实验室
      .sub.header Complex Networks and Security Research Laboratory
