.ui.seven.item.menu.sticky
  a(href="#").item
    | 主页
  a(href="#").item
    |关于我们
  a(href="#").item
    |动态消息
  a(href="#").item
    |教学科研
  a(href="#").item
    |研究成果
  a(href="#").item
    |招生信息
  a(href="#").item
    |国际合作
