.ui.seven.item.menu.sticky.pointing
  a(href="/index", class=(activePage === 'index' ? 'active' : '')).item
    | 主页
  a(href="/about", class=(activePage === 'about' ? 'active' : '')).item
    |关于我们
  a(href="/activity", class=(activePage === 'activity' ? 'active' : '')).item
    |动态消息
  a(href="/education", class=(activePage === 'education' ? 'active' : '')).item
    |教学科研
  a(href="/research", class=(activePage === 'research' ? 'active' : '')).item
    |研究成果
  a(href="/admission", class=(activePage === 'admission' ? 'active' : '')).item
    |招生信息
  a(href="/international", class=(activePage === 'international' ? 'active' : '')).item
    |国际合作
