script(type="application/javascript" src="/static/lib/jquery-2.2.0.min.js")
script(type="application/javascript" src="/static/lib/semantic.min.js")
script(type="application/javascript").
  $('.ui.dropdown').dropdown();
  $('.ui.sticky').sticky({
    context: '#content',
    pushing: true
    });
