.ui.secondary.menu.pointing
  a(href="/activity/index", class=(secondaryActivePage === 'index' ? 'active' : '')).item
    |新闻动态
  a(href="/activity/notification", class=(secondaryActivePage === 'notification' ? 'active' : '')).item
    |通知通告
  a(href="/activity/academic", class=(secondaryActivePage === 'academic' ? 'active' : '')).item
    |学术活动
