extends ./layout.jade

block title
  title 复杂网络与安全研究实验室 | 招生信息

block content
  .ui.one.column.container.celled.grid
    .column
      h1.ui.medium.header
        .content 本科生
      table.ui.celled.table
        thead
          tr
            th 技术要求
            th 工作时间
            th 其他要求
            th 联系人
            th 联系方式
        tbody
          tr
            td Lorem
            td Lorem
            td Lorem
            td Lorem
            td Lorem
    .ui.divider.column
    .column
      h1.ui.medium.header
        .content 硕士生
      table.ui.celled.table
        thead
          tr
            th 技术要求
            th 工作时间
            th 其他要求
            th 联系人
            th 联系方式
        tbody
          tr
            td ipsum
            td ipsum
            td ipsum
            td ipsum
            td ipsum
    .ui.divider.column
    .column
      h1.ui.medium.header
        .content 博士生
      table.ui.celled.table
        thead
          tr
            th 技术要求
            th 工作时间
            th 其他要求
            th 联系人
            th 联系方式
        tbody
          tr
            td Lorem
            td Lorem
            td Lorem
            td Lorem
            td Lorem
    .ui.divider.column
    .column
      h1.ui.medium.header
        .content 留学生
      table.ui.celled.table
        thead
          tr
            th 技术要求
            th 工作时间
            th 其他要求
            th 联系人
            th 联系方式
        tbody
          tr
            td ipsum
            td ipsum
            td ipsum
            td ipsum
            td ipsum
