extends ./layout.jade

block title
  title 复杂网络与安全研究实验室

block content
  p
    img.ui.image(src='static/img/image.png')
  .ui.two.column.container.celled.grid
    .row
      .column
        h1.ui.medium.header
          .content 通知通告
        p
         .ui.vertical.divided.list.link
           a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
           a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
           a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
      .column
        h1.ui.medium.header
          .content 新闻动态
        p
         .ui.vertical.divided.list.link
           a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
           a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
           a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
    .row.one.column
      .column
        h1.ui.medium.header
          .content 学术活动
        p
         .ui.vertical.divided.list.link
           a.item(href='#')  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, aliquid.
           a.item(href='#')  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, placeat!
           a.item(href='#')  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, molestiae.
