extends ./layout.jade

block title
  title 复杂网络与安全研究实验室 | 国际合作

block content
  table.ui.celled.table
    thead
      tr
        th 大学/企业
        th 所属国家
        th 合作项目
    tbody
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
      tr
        td 大学名字
        td 国家名字
        td  Lorem ipsum dolor sit.
