.ui.secondary.menu.pointing
  a(href="/education/index", class=(secondaryActivePage === 'index' ? 'active' : '')).item
    |教学工作
  a(href="/education/work", class=(secondaryActivePage === 'work' ? 'active' : '')).item
    |科研工作
