.ui.secondary.menu.pointing
  a(href="/about/index", class=(secondaryActivePage === 'index' ? 'active' : '')).item
    |实验室简介
  a(href="/about/teacher", class=(secondaryActivePage === 'teacher' ? 'active' : '')).item
    |师资队伍
  a(href="/about/student", class=(secondaryActivePage === 'student' ? 'active' : '')).item
    |学生信息
  a(href="/about/contact", class=(secondaryActivePage === 'contact' ? 'active' : '')).item
    |联系我们
