extends ./layout.jade

block context
  .ui.column.container.celled.grid
    .column
      h1.ui.medium.header
        .content 通知通告
      .ui.divider
      p
       .ui.vertical.divided.list.link
         a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
         a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
         a.item(href='#')   Lorem ipsum dolor sit amet, consectetur.
