.ui.secondary.menu.pointing
  a(href="/research/index", class=(secondaryActivePage === 'index' ? 'active' : '')).item
    |教学
  a(href="/research/science", class=(secondaryActivePage === 'science' ? 'active' : '')).item
    |科研
