extends ./layout.jade

block context
  .ui.one.column.container.celled.grid
    .row
      .column
        h1.ui.medium.header 联系信息
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore assumenda enim cum deserunt accusantium fugit odio dolorem molestias. A minima ducimus debitis eum vel enim ut! Fugit earum deserunt, rerum.
