extends ./layout.jade

block context
  .ui.one.column.container.celled.grid
    .row
      .column
        .h1.ui.medium.header 实验室简介
        p
          img.ui.image(src='/static/img/cover.png')
        p.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus possimus quo quae perferendis, amet, veniam dicta corporis laborum. Enim, labore.
        p.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus possimus quo quae perferendis, amet, veniam dicta corporis laborum. Enim, labore.
