extends ./layout.jade

block context
  .ui.text.container
    h1.ui.medium.header 学生信息
  .ui.divider
  .three.column.stackable.ui.grid.container
    for student in students
      .column
        .ui.segment
          img.ui.image(src="/static/img/school.png")
          h3.ui.header #{student.first_name_CN}
