extends ./layout.jade

block context
  .ui.text.container
    h1.ui.medium.header 学生信息
  .ui.divider
  .three.column.stackable.ui.grid.container
    .column
      .ui.segment
        img.ui.image(src="/static/img/cover.png")
        h3.ui.header 学生姓名
    .column
      .ui.segment
        img.ui.image(src="/static/img/cover.png")
        h3.ui.header 学生姓名
    .column
      .ui.segment
        img.ui.image(src="/static/img/cover.png")
        h3.ui.header 学生姓名
    .column
      .ui.segment
        img.ui.image(src="/static/img/cover.png")
        h3.ui.header 学生姓名
    .column
      .ui.segment
        img.ui.image(src="/static/img/cover.png")
        h3.ui.header 学生姓名
