extends ./layout.jade

block context
  .ui.one.column.container.celled.grid
    .row
      .column
        h1.ui.medium.header 师资队伍
        h2.ui.small.header 全职教师
        .ui.two.column.container.grid.stackable
          .column
            .ui.card
              .content
                h3 教师姓名
              .content
                h3.ui.sub.header 职称
                p 职称内容
                h3.ui.sub.header 导师资格
                p 导师资格内容
                h3.ui.sub.header 实验室职务
                p 实验室职务内容
                h3.ui.sub.header 社会兼职
                p 社会兼职内容
                h3.ui.sub.header 行政职务
                p 行政职务内容
          .column
            .ui.card
              .content
                h3 教师姓名
              .content
                h3.ui.sub.header 职称
                p 职称内容
                h3.ui.sub.header 导师资格
                p 导师资格内容
                h3.ui.sub.header 实验室职务
                p 实验室职务内容
                h3.ui.sub.header 社会兼职
                p 社会兼职内容
                h3.ui.sub.header 行政职务
                p 行政职务内容
          .column
            .ui.card
              .content
                h3 教师姓名
              .content
                h3.ui.sub.header 职称
                p 职称内容
                h3.ui.sub.header 导师资格
                p 导师资格内容
                h3.ui.sub.header 实验室职务
                p 实验室职务内容
                h3.ui.sub.header 社会兼职
                p 社会兼职内容
                h3.ui.sub.header 行政职务
                p 行政职务内容
          .column
            .ui.card
              .content
                h3 教师姓名
              .content
                h3.ui.sub.header 职称
                p 职称内容
                h3.ui.sub.header 导师资格
                p 导师资格内容
                h3.ui.sub.header 实验室职务
                p 实验室职务内容
                h3.ui.sub.header 社会兼职
                p 社会兼职内容
                h3.ui.sub.header 行政职务
                p 行政职务内容
        h2.ui.small.header 兼职教师
        .ui.two.column.container.grid.stackable
          .column
            .ui.card
              .content
                h3 教师姓名
              .content
                h3.ui.sub.header 职称
                p 职称内容
                h3.ui.sub.header 工作单位
                p 工作单位内容
          .column
            .ui.card
              .content
                h3 教师姓名
              .content
                h3.ui.sub.header 职称
                p 职称内容
                h3.ui.sub.header 工作单位
                p 工作单位内容
          .column
            .ui.card
              .content
                h3 教师姓名
              .content
                h3.ui.sub.header 职称
                p 职称内容
                h3.ui.sub.header 工作单位
                p 工作单位内容
          .column
            .ui.card
              .content
                h3 教师姓名
              .content
                h3.ui.sub.header 职称
                p 职称内容
                h3.ui.sub.header 工作单位
                p 工作单位内容
